@font-face {
    font-family: 'Gilam Black DEMO';
    src: url('../font/Gilam-BlackDEMO.eot');
    src: local('Gilam Black DEMO'), local('Gilam-BlackDEMO'),
        url('../font/Gilam-BlackDEMO.eot') format('embedded-opentype'),
        url('../font/Gilam-BlackDEMO.woff2') format('woff2'),
        url('../font/Gilam-BlackDEMO.woff') format('woff'),
        url('../font/Gilam-BlackDEMO.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam Thin Italic DEMO';
    src: url('Gilam-ThinItalicDEMO.eot');
    src: local('Gilam Thin Italic DEMO'), local('Gilam-ThinItalicDEMO'),
        url('Gilam-ThinItalicDEMO.eot?#iefix') format('embedded-opentype'),
        url('Gilam-ThinItalicDEMO.woff2') format('woff2'),
        url('Gilam-ThinItalicDEMO.woff') format('woff'),
        url('Gilam-ThinItalicDEMO.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

