*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #171717;
	font-family: Gilam;
}

.header{
	width: 1460px;
	display: flex;
	justify-content: space-between;
	margin-left: 230px;

/* margin: 0 230px; */
}

.logo{
	margin-top: 46px;
	/* margin-left: 230px; */
}

a{
	color: #E4B564;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	border: 1px solid #E4B564;
	outline: none;
	display: inline-block;
	text-align: center;
	background: url('../img/phone.png') no-repeat 25px 17px;
	background-size: 16px 16px;
	padding: 10px 25px 10px 50px;
	margin-top: 37px;
	/* margin-right: 230px; */
}
/* Способ сделать кнопку через флекс */
/* .phone{
	width: 218px;
	border: 1px solid #E4B564;
	margin-top: 37px;
	margin-right: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
} */

h2{
	font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
}

p{
	font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
margin: 41px 0;
}

.info{
	width: 1460px;
padding: 128px 230px 160px 230px;
}

.services{
	display: grid;
	grid-template-rows: repeat(2, 468px);
	grid-template-columns: repeat(6, 220px);
	grid-gap: 27px;
}

.item{
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	text-align: center;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
}

.item-section-1{
	grid-column: span 2;
	background-color: #634F2C;
}

.item-section-2{
	grid-column: span 2;
	background-color: #B4A385;
}

.item-section-3{
	grid-column: span 2;
	background-color: #E4B564;
}

.item-section-4{
	grid-column: span 3;
	background-color: #635A4A;
}

.item-section-5{
	grid-column: span 3;
	background-color: #B08C4D;
}

.section-tehnics{
	/* width: 1920px;
	height: 1019px; */
	padding: 0 230px 160px 230px;
}

.tehnics{
	display: flex;
	flex-wrap: wrap;
	flex-flow: column wrap;
	max-height: 901px;
	max-width: 1460px;
	gap: 28px;
	margin-top: 94px;
}

.item-tehnics-1{
	/* align-self: center; */
	flex-basis: auto;
	background-color: #0E0E0E;
	width: 467px;
height: 313px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
padding-top: 44px;
padding-left: 52px;
}

.item-tehnics-2{
	background-color: #1F1F1F;
	width: 467px;
height: 560px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
padding-top: 44px;
padding-left: 52px;
}

.item-tehnics-3{
	background-color: #242424;
	width: 467px;
height: 439px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
padding-top: 44px;
padding-left: 52px;
}

.item-tehnics-4{
	background-color: #E4B564;
	width: 467px;
height: 405px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #000000;
padding-top: 44px;
padding-left: 52px;
}

.item-tehnics-5{
	background-color: #1F1F1F;
	width: 467px;
height: 255px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
padding-top: 44px;
padding-left: 52px;
}

.item-tehnics-6{
	background-color: #0E0E0E;
	width: 467px;
height: 313px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
padding-top: 44px;
padding-left: 52px;
}

.item-tehnics-7{
	background-color: #0A0909;
	width: 467px;
height: 277px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
padding-top: 44px;
padding-left: 52px;
}

footer{
	background-color: #0E0E0E;
	margin-bottom: 239px;
}

.footer{
	width: 1460px;
	padding: 128px 230px 0 230px;
}

.head-footer{
	display: flex;
	justify-content: space-between;
	width: 1460px;
	padding-bottom: 61px;
}

.project{
	width: 180px;
height: 50px;
border: 1px solid #E4B564;
color: #E4B564;
text-align: center;
padding-top: 10px;
}

.clients{
	display: grid;
	grid-template-rows: repeat(2, 391px);
	grid-template-columns: repeat(3, 487px);
}

.client1, .client6{
background-color: #634F2C;
background-image: url(../img/EID.png);
background-repeat: no-repeat;
background-position: center;
background-size: 185px 49px;
}

.client2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(232, 210, 171, 0.76);
	text-align: center;
}

.client3{
	background-color: #E4B564;
}

.client4{
	background-color: #635A4A;
}

.client3, .client4{
	background-image: url(../img/Arsenal.png);
	background-repeat: no-repeat;
background-position: center;
background-size: 190px 42px;
}

.client5{
	background-color: #B08C4D;
	background-image: url(../img/SetlGroup.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 119px 53px;
}

span{
font-weight: 600;
}

.text{
width: 326px;
height: 140px;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
color: #FFFFFF;
}